<form method="post" action="/pizzas/<%= @pizza.id %>">
<label for="first-name">First Name:</label>
<input type="text" name="first_name" id="first-name" value="<%= @pizza.first_name %>"/> <!--the name of the inputs must match the strings inside the options hash to match the database. This method of labelling tags is good for accessibility so that screen readers can read the names and also ensures that clicking the label of the text box will allow typing in the correct textbox. id must match for.-->

<label for="last-name">Last Name:</label>
<input type="text" name="last_name" id="last-name" value="<%= @pizza.last_name %>"/>

<label for="pizza-select">Pizza:</label>
<select id="pizza-select" name="topping">
<option <%= "selected" if @pizza.topping == "Margherita" %> value="Margherita">Margherita</option> <!--value must match what is being added to database. -->
<option <%= "selected" if @pizza.topping == "Calzone" %> value="Calzone">Calzone</option>
</select>

<label for="Quantity">Quantity:</label>
<input type="number" name="quantity" id="quantity" value="<%= @pizza.quantity %>"/>

<input type="submit" value="Update Pizza Order"/>

</form>